*{
    margin: 0px;
    padding: 0px;
    box-sizing:border-box;
}


body {
   width: 100%;
   min-height: 100vh;
   position: relative;
   margin: 0;
 
}
/* ----------This is Header---------------- */
header {
    background-color: rgb(202,187,183);
position: relative; 
   width: 100%;
   height: 8em; 
 padding: .5em 5em;
  text-align: center;
  padding: auto;
  display:inline-block;

}
header img{
    float: right;
    width: 20em;  
    position: absolute;
    right: 2em;
    
}
header  p {
    font-size: 1.5rem; 
    display: inline-block; 
    padding-top: 3rem;
    position:absolute;
    right: 400px ;
    left:0px ;
 
  
}

/* ---------End  of Header---------- */

/*----------Start of Navigation Bar With Links------*/
#navig {
    background-color: rgb(198,82,82);
    height: 50px; 
    text-align: right; 
    justify-content: space-between;
    position: relative;
    bottom: 5px;
}
li {
   display: inline-block ;
    padding-bottom: 0px ;
    font-weight: bold;
    padding: 15px;
    font-size: 25px;
  }
   ul {
        margin-top: 0;
        margin-bottom: 0;   
    }
    a {
        color: white;
        text-decoration: none;
        font-weight: bold;
    }
    /*----End of Navigation Bar ---- */



    /*-----Start of Main Content----- */
.content {
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
    padding: 2rem;
}
.content #p2
{
    font-size: 1.2rem;
}

.text1 {
    font-weight: bold;
}
table.center {
    margin: auto; 
    border-collapse: separate;
    border-spacing: 50px 0;
    }
 tr {
    width: 150px;
    text-align: center;
    padding: 5px;
 }

 /* ----End of Main Content----- */


 
/*-----Start of Footer-------- */
footer {
    height: 130px;
    background-color: rgb(202,187,183);
    text-align:center;
    width: 100%;    
    position: relative;
    bottom: 0%;
  top: 25px;
}
    
#logopic {
    margin-top: 30px;
}
/*-----End of Footer ----- */


